body {  
    background-color: #f1f1f1;
    width:95%;
    margin:auto;
    min-width:600px;
    max-width:2000px;
    }

    
.container .row1 a{
    color:white;
    text-decoration: none;
}

.container .row1white a{
    color:black;
    text-decoration: none;
}

.row1 a:hover{
    color:black;
    /*background: black;*/
}

.row1white {
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: center;
    display: inline-block;
    color:white;
}


h2{
    font-family: verdana;
    font-size: 30pt;
    text-align: center;
    font-kerning: 10px;
    color: black;
}

.img-circle img{
    border-radius: 50%;
    box-sizing: content-box;
    text-decoration: none;

}
.bloc a img{
    margin-left: 10px;
    display: inline-block;
}
.bloc2 {
    align-self: center;
}

.contact img{
    text-decoration: none;
}

.contact div{
    margin-left: 30%;
    
}

.contact txt{
    float: right;
    margin-right: 30%;
}

.container {
    font-size: 13pt;
    background-color: #285DCB;
    font-family: verdana;
    text-align: center;
}
.row1 {
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: center;
    display: inline-block;
}

.disableMenu {
    display: none;
}

.col-md-1{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img_desc {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*SLIDER CSS*/


#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}

#sliderFrame 
{
    width:1000px;
    margin: 40px;
    padding:40px;
    box-shadow: 0 0 5px #BBB;
    border:2px solid #CCC;
    background-color:#FFF;
    align-items: center;
}

#slider, #slider .sliderInner {
    width:690px;height:326px;/* Must be the same size as the slider images */
    border-radius:0px;
}

#slider {
    background-color:white;
    float:left;
    position:relative;
    transform: translate3d(0,0,0);
}

/* the link style (if an image is wrapped by a link) */
#slider a.imgLink, #slider .video {
    z-index:2;
    cursor:pointer;
    position:absolute;
    top:0px;left:0px;border:0;padding:0;margin:0;
    width:100%;height:100%;
}
#slider .video {
    background:transparent url(video.png) no-repeat 50% 50%;
}

/* Caption styles */
#slider .mc-caption {
    position:absolute;
    width:400px;
    height:auto;
    padding:10px 0;/* 10px will increase height.*/
    left:120px;
    bottom:10px;
    overflow:hidden;
    font:bold 13px/16px verdana;
    color:#069;
    text-align:center;
    background:rgba(255,255,255,0.2);
    border:1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
}
#slider .mc-caption a { 
    color:#060;
}


/* ------ built-in navigation bullets wrapper ------*/
#slider .navBulletsWrapper  {
    display:none;
}

/* --------- Others ------- */

#slider img, #slider>b, #slider a>b {
    position:absolute; border:none; display:none;
}

#slider .sliderInner {
    overflow:hidden;
    position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}
#slider div {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}



/* -- thumbnails -- */
#thumbs 
{
    float:left;
    margin-left:30px;
    width:280px;
    font:normal 11px/13px Arial;
    border-top:1px solid #CCC;
    color:#666;
}
#thumbs .thumb 
{
    border:1px solid #CCC;
    border-top:1px solid #FFF;
    padding:14px 12px;
    background:#EEE;
    cursor:pointer;

}
#thumbs .thumb-on 
{
    background:#FFF;
}

#thumbs img{border:1px solid #DDD; cursor:pointer; width:70px; height:44px;}

#thumbs .frame {float:left;padding:2px;border:1px solid #CCC;background:white;border-radius:3px;box-shadow:0 0 3px #BBB;font-size:0;line-height:0;}
#thumbs .thumb-content {float:left;width:110px;padding-left:18px;}

/* Captions in #thumbs .thumb-content */
#thumbs .thumb-content p {font-weight:bold; color:#BF5D9B; margin:0 0 3px;padding:0;}
#thumbs .thumb-on .thumb-content p {color:#BB0000;}



/*Thumbnail Image hover text*/

.col-big{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width:20%;
}

.hovereffect {
    margin: 10px;
    width: 350px;
    height: 200px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(75,75,75,0.7);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
    background-color: rgba(48, 152, 157, 0.4);
}

.hovereffect img {
    display: block;
    position: relative;
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(45px);
    -ms-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hovereffect:hover h2 {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    margin:0px;
}

.hovereffect p.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: normal;
    margin: 7px;
}

.hovereffect:hover p.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect p.info:hover {
    box-shadow: 0 0 5px #fff;
}


/*PARA A PÃGINA ABOUT ME*/

.eu{
    float:left;
    margin-left:100px;
    margin-right: 100px;
    margin-top: 50px;
}
.aboutme{
    margin-top: 80px;
}
.main{
  margin: 100px;
  padding: 300px;
  width: 60%; 
}
.progressBar{
  position: relative;
  width: 69.5%;
  height: 40px;
  background: #eeeeee;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 2px #222;
  float:right;
}
.title{
  position: absolute;
  width: 100px;
  height: 40px;
  padding-left: 10px;
  float: left;
  font-weight: bold;
  color: #fff;
  line-height: 2.5;
  z-index: 10000;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 2px 0 2px #333;
  text-shadow: 1px 1px 1px #000;
}
.progress_value{
  position: relative;
  float: right;
  padding-right: 10px;
  line-height: 2.5;
  font-weight: bold;
  color: #455a64;
  z-index: 10000;
}
.progress{
  height: 40px;
  position: absolute;
  border-radius: 5px;
  box-shadow: 2px 0 2px #555;
}
.htmlColor{
  background: #b71c1c;
}
.cssColor{
  background: #4a148c;
}
.jsColor{
  background: #1a237e;
}
.phpColor{
  background: #1b5e20;
}
.ajaxColor{
  background: #ff6f00;
}
.html{
  background: #ec407a;
}
.css{
  background: #ab47bc;
}
.js{
  background: #5c6bc0;
}
.php{
  background: #66bb6a;
}
.ajax{
  background: #ffca28;
}
@media (max-width: 720px) {
  .main{
    width: 90%;
  }
}



/*DROPDOWN*/

body { 
  /*background: #ccc;*/
  font-family: verdana;
  font-size: 13px;
  /*text-align: center;*/
}
 
.wrap {
  display: inline-block;
  -webkit-box-shadow: 0 0 70px #fff;
  -moz-box-shadow: 0 0 70px #fff;
  box-shadow: 0 0 70px #fff;
  margin-top: 40px;
}

/* a little "umph" */
.decor {
  background: linear-gradient(left, white 50%, #6EAF8D 50%);
  background-size: 50px 25%;;
  padding: 1px;
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
}

ul {
  list-style: none;
  position: relative;
  text-align: left;
}

li {
  float: left;
}

/* clear'n floats */
ul:after {
  clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

nav {
  position: relative;
  background: #2B2B2B;
  background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #0E0E0E;
  -webkit-box-shadow: 2px 2px 3px #888;
  -moz-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 3px #888;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* prime */
ul.primary li a {
  display: block;
  padding: 20px 30px;
  border-right: 1px solid #3D3D3D;
}

ul.primary li:last-child a {
  border-right: none;
}

ul.primary li a:hover {
  
  color: #000;
}

/* subs */
ul.sub {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 35%;
  display:none;
}

ul.sub li {
  float: none;
  margin: 0;
}

ul.sub li a {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
  padding: 15px 30px;
}

ul.sub li:last-child a {
  border-bottom: none;
}

ul.sub li a:hover {
  color: #000;
  background: #eeeeee;
}

/* sub display*/
ul.primary li:hover ul {
  display: block;
  background: #fff;
}

/* keeps the tab background white */
ul.primary li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.primary li:hover > a{
  color: #000;
} 

@media only screen and (max-width: 600px) {
  .decor {
    padding: 3px;
  }
  
  .wrap {
    width: 100%;
    margin-top: 0px;
  }
  
   li {
    float: none;
  }
  
  ul.primary li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 1px 1px #000;
  }

  ul.primary li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }
  
  ul.sub {
    display: block;  
    position: static;
    box-shadow: none;
    width: 100%;
  }
  
  ul.sub li a {
    background: #272727;
    border: none;
    color: #8B8B8B;
  }
  
  ul.sub li a:hover {
    color: #ccc;
    background: none;
  }
}



.dropbtn {
    background-color: #285DCB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: center;
    display: inline-block;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #285DCB;
    color:black;
}


.dados{
      text-align: center;
}

.dados txt{
    margin-right:40px;
}

.ilustra{
    margin-right:40px;
    float:left;
}

.cima{
    padding-left:5%;
    text-align: center;
}

.cima h1{
    font-size: 40px;
    text-align: center;
}

.bulk{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    width:1200px;
    height:300px;
    margin: auto;
    padding:30px;
    box-shadow: 0 0 5px #BBB;
    border:1px solid #CCC;
    background-color:#FFF;
    align-items: center;
}

.desc h3{
    text-align:center;
    padding-right:60px;
    padding-left:60px;
}

.desc p{
    margin-left: 40px;
}

.tags{
    color:#285DCB;
}
